html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    user-select: none;
}
ul {
    list-style-type: none;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    font-family:"Montserrat", sans-serif;
    font-size: 13px;
    border: none;
    font-weight:lighter;
    line-height: 1.6;
    background-color:#000000;
}
.header {
    display: flex;
    margin:0;
    max-width: 100%;
    min-height: 5vh;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    width: 100%;
}
h1.header_logo{
    margin-left: 20vh;
    font-size: 2ch;
    font-weight: 900;
    color: #AEAFB5;
}
.list {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.listItem{
    position: relative;
    margin: 0 2vh;
    vertical-align: top;
    font-size: 1.8ch;
    color:#AEAFB5;
    text-decoration: none;
    transition: color  0.2s linear;
}
.listItem:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color:#ffaa42;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}
.listItem:hover {
    color: #ffaa42;
}
.listItem:hover:after,
.listItem.active:after {
    opacity: 1;
}
.listItem.active {
    color: #070707;
}
.top {
    display: flex;
    align-items:start;
    flex-direction: column;
    min-height:80vh;
    background-image: url("pic.JPEG");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100%;
}
.topItem {
    padding-top: 20vh;
    padding-left: 20vh;
    font-size:2ch ;
    font-weight: 170;
    color:#AEAFB5;
}
.topItem1{
    color: #ffffff;
    padding-top: 5vh;
    padding-left: 20vh;
    font-size: 4ch;
    font-weight:900;
}
.topItem2 {
    display: flex;
    align-items: center;
    margin-left: 20vh;
    width: 100%;
    margin-top: 4vh;
}
.topItem2 .rectangle {
    height: 1px;
    width: 3%;
    background-color:#ffaa42;  
 }
.profession{
    padding-left: 2vh;
    font-size: 1.8ch;
    font-weight: 200;
    color: #ffffff;
}
.top .button {
    display: inline-block;
    margin-left: 20vh;
    margin-top: 5vh;
    padding: 2vh 5vh;
    border: 1px solid #ffaa42;
    border-radius: 4vh;
    font-size: 1.5ch;
    font-weight: 800;
    color: #ffaa42;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.button:hover {
    background-color:#ffaa42;
    color: #070707;
}
.article {
    display: grid;
    padding-left: 5vh;
    color: #ffffff;
}
.icon{
    float: left;
    width: 30ch;
    height: 30ch;
    left: 0;
    right: 10vh;
}

.about_me {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    min-height: 5vh;
    margin-top: 0vh;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    width: 100%;
}
.information_container {
    margin-left: 15vh;
}
.information{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
}
.information .rectangle{
    height: 1px;
    width: 4%;
    background-color:#ffaa42;


 }
 .information_headline {
    padding-left: 2vh;
    font-size: 2ch;
    font-weight: 900;
    color: #ffffff;
 }
.information_inner {
    margin-top: 5vh;
    font-size:1.8ch ;
    font-weight: 200;
    color:#ffffff;
}
.skills {
    display: flex;
    align-items: end;
    text-align:end;
    margin-right: 25vh;
    margin-top: 12vh;
    max-width: 100%;
    flex-direction: column;
}
.skills_container {
    display: flex;
    align-items:center;
    text-align: end;
}
.skills_headline {
    color: #ffffff;
    font-size: 2ch;
    font-weight:900;
    padding-left: 2vh;
    overflow: hidden;
    padding-right: 7vh;
}
.skills .rectangle {
    height: 1px;
    min-width: 30px;
    background-color:#ffaa42;
}
.skills_inner {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 5vh;
    line-height: 2.3;
    column-count:2;
    column-width: 1vh;
    font-size: 1.5ch;
    font-weight: 200; 
    margin-right: 16vh;
}
.skills ul {
	white-space: normal;	
	display: grid;
	vertical-align: top;
}
.skills_inner .ul:first-child {
	margin-right: 10vh;
}
.skills_inner span {
    font-weight: 500 ;
}
.projects{
    margin-top: 10vh;
}
.projects_container {
    display: flex;
    align-items: center;
    width: 100%;
}
.projects_headline {
    color: #ffffff;
    font-size: 2ch;
    font-weight:900;
    padding-left: 2vh;
}
.projects .rectangle {
    height: 1px;
    width: 3%;
    background-color:#ffaa42;
}
.projects_inner {
    padding-top: 3vh;
    font-size: 1.6ch;
    font-weight: 700;
    color:#ffaa42;
}
.projects_inner p {
    font-size: 1.4ch;
    font-weight: 200;
    color:#ffffff;
}
.education {
    position:relative;
    display: inline-block;
    margin-top: 12vh;
}
.education_container {
    display: flex;
    align-items: center;
    width: 100%;
}
.education_headline {
    padding-left: 2vh;
    color: #ffffff;
    font-size: 2ch;
    font-weight:900;
}
.education .rectangle {
    height: 1px;
    width: 3%;
    background-color:#ffaa42;
}
.university {
    position:relative;
    display:inline-block;
    padding-top: 2vh;
    font-size: 1.6ch;
    font-weight:500;
    color:#ffffff
}
 .university i {   
    color:#ffaa42;
}
.education_inner {
    position:relative;
    display: inline-block;
    padding-top: 1vh;
    font-size: 1.6ch;
    font-weight:500;
    color:#ffaa42;
}
.education_inner li {
    font-size: 1.4ch;
    line-height: 2;
    font-weight: 200;
    color:#ffffff;
}
.languages {
    margin-top: 12vh;
}
.languages_container {
    display: flex;
    align-items: center;
}
.languages_headline {
    color: #ffffff;
    font-size: 2ch;
    font-weight:900;
    width: 100%;
    padding-left: 2vh;
}
.languages .rectangle {
    height: 1px;
    width: 3%;
    background-color:#ffaa42;
}
.languages_inner {
    font-size: 1.6ch;
    font-weight:300;
    color:#ffffff;
}
.languages_inner i {
    font-size: 1.4ch;
    font-weight: 350;
    color:#ffaa42;
}
.interests {
    margin-top: 12vh;
    margin-bottom:  9vh;
}
.interests_container {
    display: flex;
    align-items: center;
    padding-bottom: 2vh;
}
.interests_headline {
    color: #ffffff;
    font-size: 2ch;
    font-weight:900;
    padding-left: 2vh;
    width: 100%;
}
.interests .rectangle {
    height: 1px;
    width: 3%;
    background-color:#ffaa42;
}
.interests i{
    font-size: 1.6ch;
    font-weight:300;
    color:#ffffff;
}
footer {
    display: flex;
    background:#000000;
    height: 5vh; 
    border-top:1px solid #ffaa42;
}
.contacts {
    display: flex;
    color:#ffaa42;
    margin-left: 127vh;

}
.contacts_headline {
    display:inline;
    font-size: 1.6ch;
    margin-top: 1.5vh;
    font-weight:800;
}
.contacts_inner {
    display: flex;
    font-size: 1.2ch;
    text-transform: uppercase;
    justify-content: space-between;
    flex-shrink: 2;
    align-items: center;
    width: 100%;
    margin-top: 1.5vh;
    margin-left: 1vh;
    font-weight: 250;
    color:#ffaa42;
}
.gmail {
    height: 1.8vh;
    width: 1.8vh;
    margin-left: 6vh;
    margin-right: 1vh;
}
.gmail_com {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffaa42;
    font-size: 1.4ch;
}
.telephone {
    height: 1.8vh;
    width: 1.8vh;
    margin-left: 3vh;
    margin-right: 1vh;
}
.footer_bottom {
    font-size: 1.1ch;
    text-transform: uppercase;
    justify-content: space-between;
    text-decoration: none;
    color:#AEAFB5;
    margin-left: 80vh;
}