html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    user-select: none;
}
ul {
    list-style-type: none;
}
img {
    max-width: 100%;
}
body {
    margin: 0 0;
    padding: 0 0;
    max-width: 1920px;
    font-family:"Montserrat", sans-serif;
    font-size: 1vw;
    border: none;
    font-weight:lighter;
    line-height: 1.6;
    background-color:#000000;
}
.header {
    display: flex;
    margin:0;
    max-width: 100%;
    min-height: 5vh;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    width: 100%;
}
h1.header_logo{
    margin-left: 65px;
    font-size: 1.5em;
    font-weight: 900;
    color: #AEAFB5;
}
.list {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.list_item{
    position: relative;
    margin: 0 15px;
    vertical-align: top;
    font-size: 1.2em;
    color:#AEAFB5;
    text-decoration: none;
    transition: color  0.2s linear;
}
.list_item:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color:#ffaa42;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}
.list_item:hover {
    color: #ffaa42;
}
.list_item:hover:after,
.list_item.active:after {
    opacity: 1;
}
.list_item.active {
    color: #070707;
}
.top {
    display: flex;
    align-items:start;
    text-align:start ;
    min-height: 100vh;
    width: 100%;
    background-image: url("./img/pic.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top center;

}
.first_top_item {
    padding-top: 80px;
    padding-left: 120px;
    font-size:2vw;
    font-weight: 170;
    color:#AEAFB5;
}
.second_top_item{
    color: #ffffff;
    padding-top: 20px;
    padding-left: 120px;
    font-size: 3vw;
    font-weight:900;
}
.third_top_item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    font-size: 1.5em;
}
.third_top_item .rectangle {
    height: 1px;
    width: 30px;
    background-color:#ffaa42;  
    margin-left: 120px;
 }
.profession{
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: 200;
    color: #ffffff;
}
.top .button {
    display: inline-block;
    margin-left: 120px;
    margin-top: 30px;
    padding: 10px 18px;
    border: 1px solid #ffaa42;
    border-radius: 80px;
    font-size: 1rem;
    font-weight: 800;
    color: #ffaa42;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.button:hover {
    background-color:#ffaa42;
    color: #070707;
}
.article {
    display: grid;
    padding-left: 30px;
    padding-top: 100px;
    color: #ffffff;
}
.icon{
    float: left;
    width: 20em;
    height: 20em;
}

.about_me {
    display: flex;
    max-width: 100%;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    width: 100%;
}
.information_container {
    margin-left: 90px;
    margin-top: -60px;
}
.information{
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
}
.information .rectangle{
    height: 1px;
    width: 30px;
    background-color:#ffaa42;
 }
 .information_headline {
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
 }
.information_inner {
    margin-top: 20px;
    font-size:1.3em ;
    font-weight: 200;
    color:#ffffff;
}
.skills {
    display: flex;
    align-items: end;
    text-align: center;
    margin-right: 80px;
    margin-top: 40px;
    max-width: 100%;
    flex-direction: column;
}
.skills_container {
    display: flex;
    align-items:center;
    text-align: end;
}
.skills_headline {
    color: #ffffff;
    font-size: 1.5em;
    font-weight:900;
    padding-left: 10px;
    overflow: hidden;
    padding-right: 30px;
}
.skills .rectangle {
    height: 1px;
    width: 30px;
    background-color:#ffaa42;
}
.skills_inner {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 30px;
    line-height: 2.3;
    column-count:2;
    column-width: 1vh;
    font-size: 1em;
    font-weight: 200; 
    margin-right: 80px;
}
.skills ul {
	white-space: normal;	
	display: grid;
	vertical-align: top;
}
.skills_inner .ul:first-child {
	margin-right: 30px;
}
.skills_inner span {
    font-weight: 500 ;
}
.projects{
    margin-top: 30px;
}
.projects_container {
    display: flex;
    align-items: center;
    width: 100%;
}
.projects_headline {
    color: #ffffff;
    font-size: 1.5em;
    font-weight:900;
    padding-left: 10px;
}
.projects .rectangle {
    height: 1px;
    width: 30px;
    background-color:#ffaa42;
}
.projects_inner {
    padding-top: 30px;
    font-size: 1.1em;
    font-weight: 700;
    color:#ffaa42;
}
.projects_inner p {
    font-size: 1em;
    font-weight: 200;
    color:#ffffff;
}
.education {
    position:relative;
    display: inline-block;
    margin-top: 80px;
}
.education_container {
    display: flex;
    align-items: center;
    width: 100%;
}
.education_headline {
    padding-left: 10px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 900;
}
.education .rectangle {
    height: 1px;
    width: 30px;
    background-color:#ffaa42;
}
.university {
    position:relative;
    display:inline-block;
    padding-top: 10px;
    font-size: 1.1em;
    font-weight:500;
    color:#ffffff
}
 .university i {   
    color:#ffaa42;
}
.education_inner {
    position:relative;
    display: flex;
    padding-top: 5px;
    font-size: 1em;
    font-weight:500;
    color:#ffaa42;
}
.education_inner li {
    font-size: 1.1em;
    line-height: 2;
    font-weight: 200;
    color:#ffffff;
}
.languages {
    margin-top: 80px;
}
.languages_container {
    display: flex;
    align-items: center;
}
.languages_headline {
    color: #ffffff;
    font-size: 1.5em;
    font-weight:900;
    padding-left: 10px;
}
.languages .rectangle {
    height: 1px;
    width: 30px;
    background-color:#ffaa42;
}
.languages_inner {
    font-size: 1.1em;
    line-height: 1.7;
    font-weight:300;
    color:#ffffff;
}
.languages_inner i {
    font-size: 1em;
    font-weight: 350;
    color:#ffaa42;
}
.interests {
    margin-top: 80px;
    margin-bottom: 30px;
}
.interests_container {
    display: flex;
    align-items: center;
}
.interests_headline {
    color: #ffffff;
    font-size: 1.5em;
    font-weight:900;
    padding-left: 10px;
    width: 100%;
}
.interests .rectangle {
    height: 1px;
    width: 30px;
    background-color:#ffaa42;
}
.interests i{
    font-size: 1em;
    font-weight:300;
    color:#ffffff;
}
footer {
    display: flex;
    justify-content: center;
    background:#000000;
    height: 50px; 
    width: 100%;
    border-top:1px solid #ffaa42;
}
.contacts {
    margin-top: 15px;
    color:#ffaa42;
}
.contacts_headline {
    font-size: 1.1em;
    font-weight:800;
}
.contacts_inner {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 100%;
    font-weight: 250;
    color:#ffaa42;
}
.gmail {
    height: 1.8vh;
    width: 1.8vh;
    margin-left: 10px;
    margin-right: 5px;
}
.gmail_com {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffaa42;
}
.telephone {
    height: 1.8vh;
    width: 1.8vh;
    margin-left: 10px;
    margin-right: 5px;
}
.footer_bottom {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    color:#AEAFB5;
    font-size: 0.7em;
}

@media screen and (max-width: 1920px){
    body{
        width: 100%;
    }
    .top{
        min-height: 30vh;
        background-position: right;
    }
    .header_burger{
        display:none;
    }
}
@media screen and (max-width: 1200px){ 
    body{
        width: 100%;
    }
    .list{
        font-size: 1.5em;
    }
    .top{
        min-height: 30vh;
        background-position: right;
    }
    .header_burger{
        display:none;
    }
    .article{
        padding-top: 50px;
    }
    .right{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px){ 
    .top{
        font-size: 0.8em;
        min-height: 25vh;
        background-position: right;
    }
    .header{
        min-height: 30px;
    }
    .header_burger{
        display:block;
        position:relative;
        width: 25px;
        height: 21px;
        right: 5px;
        border: none;
        background-color: black;
    }
    .header_burger span{
        content:'';
        background-color: #ffaa42;
        position:absolute;
        width: 100%;
        height: 2px;
        left:0;
        top:9px;
    }
    .header_burger::before,
    .header_burger::after{
        content:'';
        background-color: #ffaa42;
        position:absolute;
        width: 100%;
        height: 2px;
        left:0;
    }
    .header_burger::before{
        top:0;
    }
    .header_burger::after{
        bottom:0;
    }
    .right{
        font-size: 1.7em;
    }
    .list{
        display: block;
        position: absolute;
        left: -250px;
        top: -10px;
        width: 250px;
        padding: 20px 20px 20px 20px;
        background-color: #ffaa42;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }
    .list_item{
        color: #000000;
        font-size: 2.2em;
        display: block;
        padding: 5px 0;
    }
    .list_item:after{
        background-color: none;
    }
    .list_item:hover{
        color: #000000;
    }
    .header.open .list{
        transform: translateX(100%);
    }
    .top_container{
        margin-left: -70px;
        margin-top: -70px;
    }
    .top .button{
        font-size: 1.4em;
    }
    .article{
        margin-top: 0px;
    }
    .information{
        margin-top: 50px;
        height: 40px;
    }
    .information_container{
        margin-left: 30px;
    }
    .education{
        margin-top: 40px;
    }
    .languages{
        margin-top: 40px;
    }
    .interests{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .footer{
        font-size: 2em;
    }
    .gmail{
        height: 3.5vh;
        width: 3.5vh;
    }
    .telephone{
        height: 3.5vh;
        width: 3.5vh;
    }
}
@media screen and (max-width: 575px){
    h1.header_logo{
        font-size: 2em;
    }
    .first_top_item{
        font-size: 2em;
    }
    .second_top_item{
        font-size: 2em;
    }
    .top{
        background-image: none;
        font-size: 2em;
    }
    h1.header_logo{
        margin-left: 30px;
    }
    .list{
        width: 200px;
        left: -200px;
    }
    .list_item{
        display:grid;
        font-size: 3em;
    }
    .right{
        font-size: 2.3em;
    }
    .article{
        padding-left: 10px;
    }
    .about_me{
        display: block;
        align-items: center;
    }
    .icon{
        float: left;
        margin: 50px 20px 20px 20px;
        width: 25vh;
        height: 25vh;
    }
    .skills{
        margin-right: 0;
    }
    .gmail{
        height: 1.5vh;
        width: 1.5vh;
    }
    .telephone{
        height: 1.5vh;
        width: 1.5vh;
    }
}